body{
    font-family: 'Gulzar', serif;
}
.top-banner{
        background-image: url(images/donation5.jpg);
        width: 100%;
        height:700px;
        background-size: cover;
        
          
    
}

.donate-button{
    background-color: tomato;
    padding: 15px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 800;
     
}
.center-align{
    text-align: center;
    width: 300px;
}

section{
    display: flex;
    justify-content: center;
}
.one{
    font-family: serif;
    color: black;
    font-size: xx-large;
    font-weight: 700;
}
.black {
    color: black;
}
.button{
    display: flex;
    
}
.padding{
    padding: 10px 30px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 5px solid grey;
}
.red{
    padding: 10px 30px;
    background-color:rgb(255, 150, 131) ;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 5px solid tomato;
    
}
.ota{
   text-align: center;
}
hr {  width: 200px;
}
.donate-button{
    display: flex;
    justify-content: center;
}
.big-button {
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    
    
}
.gray{
    background-color: rgb(228, 225, 225);
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: blanchedalmond;}

.three{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}
.half-weidth{
width: 50%;
margin: 20px;

}
.four{
    margin-left: 20%;
    margin-right: 20%;
}
h1{
    font: size 20px;
}
img{
    border-radius: 5px;
}
footer{
    height: 200px;
    background-color: black;
}
.footr{
    padding: 25px;
    font-family: cursive;
    color: lightcoral;
    text-align: center;
    font-size: 50px;
}
.white{
   
    color: aliceblue;
    text-align: center;
    
}